<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Display Details</h3>
      <br />
      <h4 *ngIf="display">I love Angular!</h4>
      <br />
      <button *ngIf="display" class="btn btn-primary" (click)="onToggleDisplay()">Hide Details</button>
      <button *ngIf="!display" class="btn btn-primary" (click)="onToggleDisplay()">Display Details</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let click of clicks; let i = index" [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
        [ngClass]="{'text-white': i >= 5}">
        {{ click }}
      </div>
    </div>
  </div>
</div>